.message {
    padding: 10px 0;
    width: fit-content;
}

.message-inline {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.message-cardContent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px !important;
}

.message-avatar {
    margin-right: 5px;
}

.message-typography {
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
}
.message-user {
    margin-left: auto;
    text-align: left !important;
}

.message-myCard {
    background-color: rgba(11, 129, 255, 0.8) !important;
    border-radius: 24px !important;
}

.message-heraCard {
    background-color: rgba(163, 163, 164, 0.156) !important;
    border-radius: 24px !important;
    box-shadow: none !important;
}
