.App {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

:-webkit-scrollbar {
    display: none;
}

.message-container {
    /* display: block; */
    height: 85vh;
    overflow: auto;
    margin: 20px 20px 0px 20px;
}

.MuiInputBase-root.MuiInput-root:before,
.MuiInputBase-root.MuiInput-root:after {
    border-bottom: 0 !important;
}

.app-formControl {
    display: flex !important;
    flex-direction: row !important;
}

.app-input {
    flex: 1;
}
.app-input > input {
    font-size: 18px !important;
}

.app-iconButton {
    flex: 0;
}

.App {
    max-width: 560px;
    margin: 0 auto;
}
.app-form {
    padding: 8px 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #e9e9eb;
    margin: 20px;
    border-radius: 50px;
    border: 0;
    max-width: unset;
}
@media screen and (min-width: 1024px) {
    .app-form {
        max-width: 520px;
        left: 50%;
        transform: translateX(-50%);
    }
}
