.App {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

:-webkit-scrollbar {
    display: none;
}

.message-container {
    /* display: block; */
    height: 85vh;
    overflow: auto;
    margin: 20px 20px 0px 20px;
}

.app-form {
    padding: 8px 16px;
    /* position: fixed; */
    /* bottom: 20px; */
    z-index: 1;
    background-color: #e9e9eb;
    /* width: 100%; */
    margin: 20px;
    border-radius: 50px;
    border: 0;
}
.MuiInputBase-root.MuiInput-root:before,
.MuiInputBase-root.MuiInput-root:after {
    border-bottom: 0 !important;
}

.app-formControl {
    display: flex !important;
    flex-direction: row !important;
}

.app-input {
    flex: 1;
}
.app-input > input {
    font-size: 18px !important;
}

.app-iconButton {
    flex: 0;
}

.App {
    max-width: 560px;
    margin: 0 auto;
}
